body {
    background-color: black;
    color: yellow;
}

h1 {
    text-align: center;
}

.movie-item {
    border: 0.5px solid yellow;
    margin-bottom: 10px;
    padding: 5px;
}




#theater-select, #search-input {
    background-color: yellow;
    color: black;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
}
.jumbotron {
    background-color: black;
}

.jumbotron h1 {
    color:yellow;
}